.btn-primary, .table-primary, .bg-primary{ --bs-primary: #ff7f32!important; }
.card, .table { border-radius: .75rem!important; }
.navbar-custom {
	background-color: #de9a07db !important;
}
.navbar-nav .nav-link {
  color: rgb(255, 240, 164) !important;
}
