.nav-bar-color {
    background-color: #de9a07;
}

.nav-bar-buttons-color {
    color: rgb(255, 240, 164);
    transition: color ease;
}

.nav-bar-buttons-color:hover {
    color: rgb(100, 66, 41);
}
